body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    margin-top: 12%;
    margin-bottom: 6%;
}

#i-img-cnpj {
    width: 50%;
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 50%;
    display: block; /* Para centralizar com margin auto */
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
}



.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #333;
    margin: 0 0 20px;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
}

button {
    background-color:#6181a0;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:#00b8b9 ;
}

.buttons {
    display: flex;
    flex-direction: column;
}

#resultado {
    margin-top: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

@media (min-width: 480px) {
    .buttons {
        flex-direction: row;
        justify-content: space-between;
    }
}

#nConsult {
    width: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 20vh;
    font-size: 10px;
    padding: 7px;
}
  